vite.config.ts 
tsconfig.node.json 
tsconfig.json
tailwind.config.js 
postcss.config.js
.eslintrc.cjs
src/
public/
node_modules/
package-lock.json 
index.html
coverage/
test/
jest.config.json
jestSetup.ts

